.bingo-cell {
  width: 50px;
  height: 50px;
  font-size: 20px;
  text-align: center;
  vertical-align: middle;
  border: 1px solid black;
  box-sizing: border-box;
}

.bingo-cell:hover{
  cursor: pointer;
}

.bingo-cell.header {
  font-weight: 700;
  margin-top: 12px;
}

.col {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bingo-cell.clicked {
  background-color: green;
}